<div class="row">
  <div class="col-lg-3">
    <div class="ibox float-e-margins ui-draggable ui-droppable" style="position: relative;">
      <div class="ibox-title">
          <h5>Time to Door</h5>
          <span class="label label-success pull-right">Monthly</span>
      </div>
      <div class="ibox-content">
          <h1 class="no-margins font-extra-bold">3 days</h1>
          <small>KPI: 2 days</small>
          <div class="pull-right font-bold text-success">98% <i class="fa fa-bolt"></i></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="ibox float-e-margins ui-draggable ui-droppable" style="position: relative;">
      <div class="ibox-title">
          <h5>Duplicate Skus</h5>
          <span class="label label-danger pull-right">Alert</span>
      </div>
      <div class="ibox-content">
          <h1 class="no-margins font-extra-bold">3 days</h1>
          <small>SLA Goal: 2 days</small>
          <div class="pull-right font-bold text-success">98% <i class="fa fa-bolt"></i></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
  </div>
  <div class="col-lg-3">
    <div class="ibox float-e-margins ui-draggable ui-droppable" style="position: relative;">
      <div class="ibox-title">
          <h5>Product Sell Out</h5>
          <span class="label label-info pull-right">Monthly</span>
      </div>
      <div class="ibox-content">

    <div class="list-item-container stat-list">
        <div class="list-item">
            <h2 class="no-margins ">2 days left </h2>
            <small>Hidalgo Blue</small>
            <div class="pull-right font-bold">48% <i class="fa fa-level-up text-navy"></i></div>
            <div class="progress progress-mini">
                <div style="width: 48%;" class="progress-bar progress-bar-danger"></div>
            </div>
        </div>
        <div class="list-item">
            <h2 class="no-margins ">3 days</h2>
            <small>Hidalgo Orange</small>
            <div class="pull-right font-bold">60% <i class="fa fa-level-down text-navy"></i></div>
            <div class="progress progress-mini">
                <div style="width: 60%;" class="progress-bar progress-bar-warning"></div>
            </div>
        </div>
        <div class="list-item">
            <h2 class="no-margins ">3 days</h2>
            <small>Chicon Green</small>
            <div class="pull-right font-bold">22% <i class="fa fa-bolt text-navy"></i></div>
            <div class="progress progress-mini">
                <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
            </div>
        </div>
    </div>

      </div>
    </div>

  </div>
</div>
