<!-- Intro -->
<section id="intro">
	<!-- Container -->
	<div class="container">
		<div class="seven columns main-text">
			<h1>Human Performance Event Management</h1>
			<p class="lead">
				Manage your events with ease:
			</p>
			<!-- List-services -->
			<ul class="list-services">
				<li><i class="icon-check"></i>Scoring</li>
				{{!-- <li><i class="icon-check"></i>First class Sponsor Support</li> --}}
				<li><i class="icon-check"></i>Programing</li>
				<li><i class="icon-check"></i>Social Integration</li>
				<li><i class="icon-check"></i>Event Registration</li>
			</ul>
			<!-- End List-Services -->
		</div>
		<div class="eight columns offset-by-one order-form"> <!-- Order Form -->
			<div>
				<i class="icon-ok"></i>
				<h2>Put on better events!</h2>
				<p>We are just getting started, but sign up and be the the first to know on all of our progress.</p>

				<!-- Begin MailChimp Signup Form -->
				<form action="//drusellers.us9.list-manage.com/subscribe/post?u=36e6513ab0fc2a132f91575f3&amp;id=2bd81df13b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email" required>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_36e6513ab0fc2a132f91575f3_2bd81df13b" tabindex="-1" value=""></div>
				    <button class="submit" type="submit">Subscribe</button>
				</form>
				<!-- End MailChimp Signup Form -->
			</div>
		</div>
		<!-- End Order-Form -->
	</div>
	<!-- End Container -->
</section>
<!-- End Intro -->

<!-- About -->
<section id="about">
	<!-- Container -->
	<div class="container">
		{{!--
		<!-- Preambule -->
		<div class="preambule twelve columns offset-by-two">
			<h3>The Problem</h3>
			<p class="lead">
				Planning and managing your event is hard. Tracking the timing
				the people, and the equipment takes time. Trying to communicate
				all of this to your team takes time. Event management is more
				than just scoring, its more than just the big day.
			</p>
		</div>
		<!-- End Preambule -->
		<div class="clear"></div>
		<div class="one-third column thumbnail"> <!-- Thumbnail -->
			<a href="http://placehold.it/700x500" data-gal="prettyPhoto[gallery1]">
				<img src="http://placehold.it/420x333" alt="Describe your image"/>
			</a>
		</div>
		<div class="one-third column thumbnail"> <!-- Thumbnail -->
			<a href="http://placehold.it/700x500" data-gal="prettyPhoto[gallery1]">
				<img src="http://placehold.it/420x333" alt="Describe your image"/>
			</a>
		</div>
		<div class="one-third column thumbnail"> <!-- Thumbnail -->
			<a href="http://placehold.it/700x500" data-gal="prettyPhoto[gallery1]">
				<img src="http://placehold.it/420x333" alt="Describe your image"/>
			</a>
		</div>
		--}}
		<div class="clear"></div>
		<div class="eight columns info"> <!-- Info -->
			<h5>The Goal</h5>
			<p>
			Running an event, large or small, is no easy task. There are a million things that have to be done and kept track of. You have to make sure that those million little things are kept in balance with each other. Then on the day of the event, you need everything to run smoothly. The last thing that you need is people coming up and asking you questions.
			</p>
			<p>
			Existing event management systems are missing out on large pieces of functionality that could be added to their systems to make an event run smoother. Like Athlete alerts so they know their heat is coming up. Extended descriptions of your events so they don't have to ask you to reexplain something and a million other little papercuts that make running an event less of a joy then it is when we are dreaming of it before hand.
			</p>
			<!-- List-services -->
			<ul class="list-services">
				<li><i class="icon-check"></i>Athlete Registration and Management</li>
				<li><i class="icon-check"></i>Articles on Event Best Practices</li>
				<li><i class="icon-check"></i>Mobile friendly for the day of the event</li>
			</ul>
			<!-- End List-Services -->
			<p>We can build better events. Let's do it together.</p>
		</div>
		<!-- End Info -->
		<div class="eight columns testimonials"> <!-- Testimonials -->
			<h5>Motivation</h5>
			<p></p>
			<blockquote>
			Weight lifting is about lifting the impossible, overcoming the unachievable. If you don’t lift things that are hard, and only do the things you can do, it’s only going to get boring. Unless you want to lift beyond your limits to get stronger, to achieve new goals, and to be satisfied, you got to lift past these challenges, and still lift the things you think are impossible to really understand how your true strength will show. lift how I lift, see how I lift, watch how I lift, learn how I lift, and your true strength will come forth and be revealed
			<cite>
				Chasers Holmes
			</cite>
			</blockquote>
		{{!--

			<h5>What The People are saying</h5>
			<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
			<blockquote>
				"Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit."
				<span><strong>Michael Winchester</strong></span>
			</blockquote>
			<blockquote>
				"Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."
				<span><strong>Tom Bold</strong></span>
			</blockquote>
		--}}
		</div>
		<!-- End Testimonials -->
	</div>
	<!-- End Container -->
</section>
<!-- End About -->

{{!-- 
<!-- Features -->
<section id="features">
	<!-- Container -->
	<div class="container">
		<!-- Preambule -->
		<div class="preambule twelve columns offset-by-two">
			<h3>Super Features</h3>
			<p class="lead">We built EGG with the priority of the event organizer in mind. We know
				running and organizing an event is hard, but it can be easier.</p>
		</div>
		<!-- End Preambule -->
		<div class="clear"></div>
		<div class="one-third column feature">
			<i class="icon-flag"></i>
			<h5>Responsive Design</h5>
			<p>Hey, relax man, I'm a brother shamus. Lectus cras pharetra faucibus tristique nullam.</p>
		</div>
		<div class="one-third column feature">
			<i class="icon-coffee"></i>
			<h5>Easy to Customize</h5>
			<p>Hey, relax man, I'm a brother shamus. Lectus cras pharetra faucibus tristique nullam.</p>
		</div>
		<div class="one-third column feature">
			<i class="icon-leaf"></i>
			<h5>Free Support</h5>
			<p>Hey, relax man, I'm a brother shamus. Lectus cras pharetra faucibus tristique nullam.</p>
		</div>
		<div class="clear"></div>
		<div class="one-third column feature">
			<i class="icon-cog"></i>
			<h5>Mobile Friendly</h5>
			<p>Hey, relax man, I'm a brother shamus. Lectus cras pharetra faucibus tristique nullam.</p>
		</div>
		<div class="one-third column feature">
			<i class="icon-comments"></i>
			<h5>Sign-Up form</h5>
			<p>Hey, relax man, I'm a brother shamus. Lectus cras pharetra faucibus tristique nullam.</p>
		</div>
		<div class="one-third column feature">
			<i class="icon-tags"></i>
			<h5>User Expirience</h5>
			<p>Hey, relax man, I'm a brother shamus. Lectus cras pharetra faucibus tristique nullam.</p>
		</div>
	</div>
	<!-- End Container -->
</section>
<!-- End Features -->

<!-- FAQ -->
<section id="faq">
	<!-- Container -->
	<div class="container">
		<!-- Preambule -->
		<div class="preambule twelve columns offset-by-two">
			<h3>FAQ</h3>
			<p class="lead">Donec elementum mollis magna id aliquet. Etiam eleifend urna eget sem
			sagittis feugiat. Pellentesque habitant morbi tristique senectus et
			netus et malesuada fames ac turpis egestas all the way through.</p>
		</div>
		<!-- End Preambule -->
		<div class="eight columns question">
			<i class="icon-comments"></i>
			<h5>Sturgeon medaka loach?</h5>
			<p>Snake mudhead sandperch bluefin tuna, tapetail dogfish boafish burrowing goby. Soldierfish arowana beaked salmon garpike Atlantic silverside California flyingfish trench Dolly Varden trout. Lenok lightfish, pikeperch cow shark bluegill, barracudina cow shark ocean sunfish. Southern grayling razorfish zebra pleco.</p>
		</div>
		<div class="eight columns question">
			<i class="icon-comments"></i>
			<h5>Does your lorem ipsum?</h5>
			<p>Buri sand dab, giant danio. Longfin escolar. Sevan trout loosejaw guitarfish, zebra pleco tuna spiderfish pike characid bottlenose velvet-belly shark, "redmouth whalefish." Ghost carp lungfish longnose lancetfish yellow jack Lost River sucker. Largemouth bass wallago--vimba spadefish ide codling; triplefin blenny.</p>
		</div>
		<div class="eight columns question">
			<i class="icon-comments"></i>
			<h5>Greenling shad redside?</h5>
			<p>Dottyback slipmouth, flagfish lighthousefish zebra shark Japanese eel mola mola sunfish. Antarctic icefish, dogteeth tetra crevice kelpfish glass catfish galjoen fish. Perch Bengal danio mouthbrooder alfonsino elver Owens pupfish Ratfish</p>
		</div>
		<div class="eight columns question">
			<i class="icon-comments"></i>
			<h5>Channel bass flying gurnard?</h5>
			<p>Greenling shad redside livebearer zebra turkeyfish lemon sole Sevan trout lighthousefish largemouth bass. Channel bass flying gurnard loach minnow ide Moorish idol. Ghost carp lungfish longnose lancetfish yellow jack Lost River sucker.</p>
		</div>
		<div class="eight columns question">
			<i class="icon-comments"></i>
			<h5>Sturgeon medaka loach?</h5>
			<p>Snake mudhead sandperch bluefin tuna, tapetail dogfish boafish burrowing goby. Soldierfish arowana beaked salmon garpike Atlantic silverside California flyingfish trench Dolly Varden trout. Lenok lightfish, pikeperch cow shark bluegill, barracudina cow shark ocean sunfish. Southern grayling razorfish zebra pleco.</p>
		</div>
		<div class="eight columns question">
			<i class="icon-comments"></i>
			<h5>Does your lorem ipsum?</h5>
			<p>Buri sand dab, giant danio. Longfin escolar. Sevan trout loosejaw guitarfish, zebra pleco tuna spiderfish pike characid bottlenose velvet-belly shark, "redmouth whalefish." Ghost carp lungfish longnose lancetfish yellow jack Lost River sucker. Largemouth bass wallago--vimba spadefish ide codling; triplefin blenny.</p>
		</div>
	</div>
	<!-- End Container -->
</section>
<!-- End FAQ -->

<!-- Clients -->
<section id="clients">
	<!-- Container -->
	<div class="container">
		<!-- Premabule -->
		<div class="preambule twelve columns offset-by-two">
			<h3>Our Clients</h3>
			<p class="lead">Dottyback slipmouth, flagfish lighthousefish zebra shark Japanese eel mola mola sunfish. Antarctic icefish, dogteeth tetra crevice kelpfish glass catfish galjoen fish. Perch Bengal danio mouthbrooder alfonsino elver Owens pupfish. </p>
		</div>
		<!-- End Preambule -->
		<div class="clear"></div>
		<div class="four columns client">
			<a href="#"><img src="http://placehold.it/200x122" alt="yourlogo"></a>
		</div>
		<div class="four columns client">
			<a href="#"><img src="http://placehold.it/200x122" alt="yourlogo"></a>
		</div>
		<div class="four columns client">
			<a href="#"><img src="http://placehold.it/200x122" alt="yourlogo"></a>
		</div>
		<div class="four columns client">
			<a href="#"><img src="http://placehold.it/200x122" alt="yourlogo"></a>
		</div>
	</div>
	<!-- End Container -->
</section>
<!-- End Clients -->
--}}
