<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>Event Gone Good</title>
    <meta name="description" content="Event Gone Good is a human performance event management system that focuses on making your life easier as the organizer of the event.">
    <meta name="keywords" content="crossfit, wod, results, social, scoring, registration, events, profile, ranking, throwdown, affiliate, advertising">
    <meta name="author" content="Dru Sellers">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts
  ================================================== -->
    <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/prettyPhoto.css">

    <!-- Javascript
  ================================================== -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/jquery.nav.js"></script>
    <script src="/js/jquery.scrollTo.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
    {{!-- <script src="//malsup.github.com/jquery.form.js"></script> --}}

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

</head>
<body>

<!-- Header -->
<header>
    <!-- Container -->
    <div class="container">
        <div class="four columns logo"> <!-- Logo -->
            <a href="#"><img src="/images/logo.png" alt="imglogo"></a>
        </div>
        <!-- End logo -->
        <nav id="navigation" class="twelve columns"> <!-- Nav -->
            <ul>
                {{!-- 
                <li><a href="#intro">Home</a></li>
                
                <li><a href="#about">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#faq">Questions</a></li>
                <li><a href="#clients">Clients</a></li>
                --}}
                <li><a href="//blog.eventgonegood.com">Blog</a></li>
            </ul>
        </nav>
        <!-- End Nav -->
    </div>
    <!-- End Container -->
</header>
<!-- End Header -->

{{{body}}}

<!-- Footer -->
<footer id="footer">
    <!-- Container -->
    <div class="container">
        <p class="copyrights">© 2015 Event Gone Good ALL RIGHT RESERVED</p> <!-- Copyrights -->
        <ul class="social"> <!-- Social -->
            <li><a href="//facebook.com/eventgonegood"><i class="icon-facebook"></i></a></li>
            <li><a href="//twitter.com/eventgonegood"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-google-plus"></i></a></li>
        </ul>
        <!-- End Social -->
    </div>
    <!-- End Container -->
</footer>
<!-- End Footer -->

</body>
</html>
