<section>
	<div class="container">
	<style>
		table.swatch {
			width:100%;
		}
		.swatch td {
			width:20%;
		}

		.swatch .green {
			background: #bcb;
		}


		.swatch .gray {
			background: #818181;
		}
		</style>

	<h1>Colors</h1>
	<table class="swatch">
		<tr>
			<td class="green">
				&nbsp;
			</td>
			<td class="gray">
				&nbsp;
			</td>
		</tr>
	</table>
	<hr />
	<h1>Quotes</h1>
	<blockquote>
		It's not the daily increase but daily decrease. Hack away at the unessential.
	</blockquote>
<blockquote>
Compass - where am I?
Pocket Knife - what can I do
Bucket/Content - duh the stuff
</blockquote>
	</div>
</section>
